*{
	font-family: arial;	
}

label{
	display: block;
	float: left;
	width: 90px;
	text-align: right;
	margin-right: 5px;
	background-color: silver;
}

.msg{
	border: 1px solid #000;
	padding: 5px;
	padding: 5px;
	display: inline-block;
	visibility: hidden;
	border-radius: 3px;
}

.msg-error{
	border-color: #faebcc;
	background-color: #fcf8e3;
	color: #8a6d40;
}

.msg-ok{
	border-color: #d6e9c6;
	background-color: #dff0d8;
	color: #3c7646;
}