<div class="form">
  <div>
    <span class="title">Criar usuario</span>
    <form name="dataForm">
      <span>Login<input type="text" name="login" ng-model="data.login"></span>
      <span>Password<input type="text" name="password" ng-model="data.password"></span>
    </form>
    <button ng-click="onCreateForm(dataForm, data)" ng-disabled="dataForm.$invalid">Salvar</button>
    <button ng-click="onCancelForm()">Cancelar</button>
  </div>
</div>

<div class="form">
  <div>
    <span class="title">Recuperar senha</span>
    <form name="dataForm">
      <span>Login<input type="text" name="login" ng-model="data.login"></span>
    </form>
    <button ng-click="onGetForm(dataForm, data)" ng-disabled="dataForm.$invalid">Recuperar</button>
    <button ng-click="onCancelForm()">Cancelar</button>
  </div>
</div>
